.character-list-container {
    text-align: center;
}

.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.pagination span {
    font-size: 1rem;
}
