.character-card {
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 16px;
    margin: 16px;
    transition: box-shadow 0.3s ease;
}

.character-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.character-card-title {
    height: 20px;
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 8px;
    color: #fff;
}

.character-card-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.character-card-details {
    font-size: 1em;
    color: #fff;
}
