.character-list-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    text-align: center;
    padding: 20px 10px 10px 10px;
    min-height: calc(100vh - 30px);
}

.list-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffe81f;
    text-shadow: 2px 2px 0 #000, 4px 4px 0 #000, 6px 6px 0 #000;
    letter-spacing: 2px;
}

.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .character-list {
        max-width: 100%;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.pagination button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.pagination span {
    font-size: 1rem;
}
