.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    z-index: 1;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(0, 255, 191, 0.6);
    background-color: rgb(1, 28, 10);
    cursor: default;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.modal-title {
    font-size: 1.5em;
    margin: 0;
}

.modal-close {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #ccc;
}

.modal-body {
    padding: 20px 0;
}

.modal-footer {
    display: flex;
    border-top: 1px solid black;
    padding-top: 10px;
    text-align: start;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    cursor: default;
}

.character-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.character-details {
    width: 50%;
}

.planet-details {
    width: 50%;
}
